@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";



@theme {
    --color-primary: #b88e2f;
    --font-primary: "Poppins", sans-serif;
    --font-secondary: "Montserrat", sans-serif;
    --color-bg: #fff3e3;
    --color-dark: #333;
    --color-light: #666;
}

.navCenter {
    @apply lg:flex justify-center items-center gap-19 font-primary font-semibold text-base text-dark;
}

.container {
    @apply mx-auto max-w-[1440px];
}

.primary_btn {
    @apply bg-primary font-primary font-bold text-[12px] lg:text-[16px] uppercase text-white hover:bg-transparent hover:text-primary hover:border-primary hover:border-2 duration-200 ease-in-out;
}

.card {
    @apply  pt-10 lg:pt-15.5 pe-11 pb-9.25 ps-9.75;
}

.heading {
    @apply my-14 text-center;

    h1 {
        @apply font-primary font-bold text-[24px] lg:text-[32px] text-dark;
    }

    p {
        @apply font-primary font-normal text-sm lg:text-xl text-light;
    }
}

.imgCard {
    @apply text-center;

    img {
        @apply max-w-full w-71 h-auto lg:w-full lg:min-w-71 
    }

    p{
    @apply mt-2.5 lg:mt-7.5 font-primary font-semibold text-lg lg:text-2xl text-center text-dark;
    }
}

.productCard {
    @apply duration-300 ease-in;
    .productImg {
        @apply relative;

        p {
            @apply absolute top-3 right-3  w-12 h-12 flex justify-center items-center rounded-full text-sm text-white;
        }
    }

    .productData {
        @apply pt-4 pe-5 pb-7.5 ps-4 bg-[#f4f5f7];

        h1 {
            @apply font-primary font-semibold text-lg lg:text-2xl leading-[120%] mb-2 text-dark;
        }

        p {
            @apply font-primary font-medium text-sm lg:text-[16px] leading-[150%] mb-2 text-light;
        }

        h6 {
            @apply font-primary font-semibold text-sm lg:text-xl leading-[150%] text-dark;
        }

        del {
            @apply text-light font-primary font-normal text-xs lg:text-base leading-[150%]
        }
    }

    img {
        @apply w-full
    }

    .hoverEffect {
        @apply hidden;

        button {
            @apply hover:bg-white
        }
    }
}

.productCard:hover .hoverEffect {
    @apply flex brightness-100;
}

.productCard:hover .productImg,
.productCard:hover .productData {
    @apply brightness-50 duration-300 ease-in;
}

.swiper-wrapper {
  @apply items-center;
}

.custom-pagination-dots .swiper-pagination-bullet {
    @apply w-2.5 h-2.5 bg-[#d8d8d8] opacity-100 m-0! transition-all duration-300 ease-in-out;
}

.custom-pagination-dots .swiper-pagination-bullet-active {
    @apply bg-primary! w-2.5 h-2.5 my-0! mx-1!;

    box-shadow: 0 0 0 4px #fcf8f3, 0 0 0 5px #B88E2F;
}

@media (max-width: 1023px) {
    .custom-pagination-dots .swiper-pagination-bullet {
        margin-inline: 0.5rem !important;
    }
}


.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 10px;
}
    
.div1 {
    grid-row: span 4 / span 4;
}

.div2 {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-column-start: 1;
    grid-row-start: 5;
}

.div4 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 5;
}

.div5 {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-column-start: 7;
    grid-row-start: 3;
}

.div7 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 10;
    grid-row-start: 2;
}

.div8 {
    grid-column: span 5 / span 5;
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 2;
}

.div9 {
    grid-row: span 3 / span 3;
    grid-column-start: 10;
    grid-row-start: 6;
}

.div10 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 11;
    grid-row-start: 6;
}

.div12 {
    grid-row: span 5 / span 5;
    grid-column-start: 12;
    grid-row-start: 1;
}
        